h1 {
    text-align: center;
}

.project:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    background-color: #303030;
}

.background {
    width: 1200px;
    height: auto;
}

.intro {
    width: 400px;
    height: auto;
}

.title{
    width: 400px;
    height: auto;
}

.logo {
    width: 400px;
    height: auto;
}

.libhero {
    width: 400px;
    height: auto;
}

.cutscene {
    width: 800px;
    height: auto;
}